/* Version: 2 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e2f3f5;
}
.commonNumberContainer{
    background-color: rgba(87, 92, 91, 0.705);
    /* box-shadow: 3px 1px 3px 3px whitesmoke, -3px 0px 3px 3px rgb(241, 240, 237); */
    width: 95%;
    margin: auto;
    margin-top: 10px;
    /* padding: 10px; */
    box-shadow: 5px 5px 5px #575151,-5px 5px 5px #575151;
    border-radius: 10px;
    overflow: hidden;
}
.commonNumberContainer h2{
    /* border: 1px solid black; */
    /* width: 90%; */
    margin: auto;
    background-color: #3f3b3b;
    color: #00fff0;
    text-align: center;

}

.commonNumberTable{
    position: relative;
    background-color: rgba(0, 0, 0, 0.541);
    /* border: 1px solid black; */
    width: 100%;
    margin: auto;
    padding: 0;
}
table tr th{
    margin: 0;
    padding: 8px 0px;
    font-size: 20px;
    /* text-align: center; */
    background-color: #575151;
    color: #00fff0;
}
.commonNumberTable tr td{
    /*font-size: 16px;*/
    margin: 0;
    text-align: center;
    background-color: white;
    color: navy;
    font-size: 18px;
}
.commonNumberTable tr td button{
    /* position: absolute; */
    /* bottom: 100px; */
    /* right: 10px; */
     z-index: 100;
    padding: 4px 10px;
    background-color: navy;
    color: oldlace;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    float: right;
}
#rsltPublish{
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 0;
    background-color: navy;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #575151,-5px 5px 5px #575151;
}